<!DOCTYPE html>
<html lang="ro">

<head>

    <title>Fyresound</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="keywords" content="audio, HIFI, echipamente_audio, casti, microfoane, monitoare_studio">
    <meta name="description" content="Site dedicat audiofililor si creatorilor de muzica.">




    <%- include("../fragmente/head.ejs");  %>


        <!-- CSS -->

        <link href="/resurse/css/iframe.css" rel="stylesheet" type="text/css" />
        <link href="/resurse/css/link_sus.css" rel="stylesheet" type="text/css" />

        <link href="/resurse/css/tabel.css" rel="stylesheet" type="text/css" />
        <link href="/resurse/css/galerie_animata.css" rel="stylesheet" type="text/css" />


        <link rel="stylesheet" href="./resurse/css/style.css" type="text/css" />
        <link rel="stylesheet" href="/resurse/css/style_700.css" type="text/css" media="screen and (max-width:700px)" />
        <link rel="stylesheet" href="/resurse/css/style_500.css" type="text/css" media="screen and (max-width:500px)" />
        <link href="/resurse/css/stil_printare.css" rel="stylesheet" type="text/css" media="print" />




</head>

<body>

    <%- include("../fragmente/header.ejs");  %>


        <!-- <%- locals.ip %> -->

        <p id="watermark"></p>

        <div id="banner">
            <p>
                Acest site este un proiect scolar.
            </p>
        </div>

        <main id="main_grid">

            <div id="poster">
                <figure>
                    <picture>
                        <source srcset="./resurse/imagini/Firesoundicon.png" media="(max-width:500px)">
                        <source srcset="./resurse/imagini/site/LogoFullSize.png" media="(max-width:700px)">
                        <img src="./resurse/imagini/site/LogoFullSize.png" alt="Logo-ul Fyresound">

                    </picture>
                    <figcaption>Logo-ul Fyresound</figcaption>
                </figure>

                <div id="despre_noi">

                    <p>Fyresound este cel mai nou magazin online dedicat audiofililor și creatorilor de muzica. Aici vei găsi atât produsele producătorilor mari, cu vechime, dar și ale celor noi, care încă nu au intrat în atenția distributorilor.</p>
                    <p>Misiunea noastră este să aducem cea mai variata gama de produse audio din romania, servind produsele renumite pentru profesioniști, într-un mediu simplu pentru începători.</p>

                </div>
            </div>


            <div id="tabel">
                <section id="orar">
                    <caption id="captiune"><b>Orar showroom</b></caption>
                    <table id="tab-orar">
                        <thead>

                            <tr>
                                <th></th>
                                <th>8:00 - 10:00</th>
                                <th>10:00 - 12:00</th>
                                <th>12:00 - 14:00</th>
                                <th>16:00 - 18:00</th>
                                <th>18:00 - 20:00</th>

                            </tr>

                        </thead>

                        <tbody>
                            <tr>


                                <td>Luni</td>
                                <td>✕</td>
                                <td>✓</td>
                                <td>✓</td>
                                <td>✓</td>
                                <td>✓</td>

                            </tr>
                            <tr>


                                <td>Marti</td>
                                <td>✓</td>
                                <td>✓</td>
                                <td>✓</td>
                                <td>✓</td>
                                <td>✓</td>
                            </tr>
                            <tr>


                                <td>Miercuri</td>

                                <td>✓</td>
                                <td>✓</td>
                                <td>✓</td>
                                <td>✓</td>
                                <td>✓</td>
                            </tr>
                            <tr>


                                <td>Joi</td>

                                <td colspan="5">✕</td>

                            </tr>
                            <tr>
                                <td>Vineri</td>

                                <td>✕</td>
                                <td>✓</td>
                                <td>✓</td>
                                <td>✓</td>
                                <td>✓</td>
                            </tr>
                            <tr>

                                <td>Sambata</td>

                                <td>✕</td>
                                <td>✓</td>
                                <td>✓</td>
                                <td>✕</td>
                                <td>✕</td>
                            </tr>
                            <tr>
                                <td>Duminica</td>

                                <td>✕</td>
                                <td>✓</td>
                                <td>✕</td>
                                <td>✕</td>
                                <td>✕</td>

                            </tr>
                        </tbody>
                        <tfoot>
                            <td colspan="6">Va asteptam sa testati produsele noastre</td>
                        </tfoot>
                    </table>

            </div>


            <div id="calendar">
                <h2>Aici va veni un calendar</h2>

            </div>


            <div id="anunturi">
                <h2>Anunturi</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>

            <div id="utilizatori">
                <h2>Utilizatori</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>


            <div id="statistici">
                <h2>Statistici produse <i class="fa-solid fa-heart fa-beat" style="--fa-animation-duration: 0.5s;"></i></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            </div>

            <div id="date">
                <h2>Date importante </h2>
                <i class="fa-solid fa-bowl-rice"></i>

                <section id="downloads">
                    <h3>Downloads:</h3>
                    <br>
                    <a href="./resurse/downloads/AltoPro_LiveSound_Guide_final.pdf" target="_blank" download>Ghid live audio</a>
                </section>

            </div>

            <div id="videoclipuri">
                <video width="320" height="240" controls="controls" poster="./resurse/video/video.png" preload="auto">
                    <source src="./resurse/video/video.mp4" type="video/mp4">
                    <source src="./resurse/video/video.wmv" type="video/wmv">
                    <track default src="./resurse/tracks/video_romana.vtt" kind="captions" srclang="ro" label="romana" />
                    <track  src="./resurse/tracks/video_engleza.vtt" kind="captions" srclang="en" label="engleza" />
            </video>

                <!-- galerie animata -->

                <!-- <style>
                *{
                margin:0;
                padding:0;
                }
          
                body{
                  padding:3rem;
                }

            .galerie{
                width:400px;
                height:240px;
                border:1px solid black;
                position:relative;
                overflow:hidden;
        
                  border:1px solid black;
                margin-bottom:5rem;
              }
              .galerie figcaption{
                position:absolute;
                bottom:0;
                background:rgba(255,255,255,0.7);
                width:100%;
                text-align:center;
              }
              .galerie figure{
                position:relative;
                width:400px;
                height:400px;
              }
        
              
        
            </style> -->



                <div id="galerie_exemplu" class="galerie">
                    <div>
                        <% 
                    anotimpuri = ["iarna", "iarna", "primavara", "primavara", "primavara", "vara", "vara", "vara", "toamna", "toamna", "toamna", "iarna"]

                    d = new Date()
                    nrImagini = 0

                    for(let imag of locals.imagini){
                        if(imag.anotimp && imag.anotimp.includes( anotimpuri[d.getMonth()] )){
                            nrImagini= nrImagini +1
                        }
                    }
                    random_num = Math.random() * nrImagini + 1
                    random_num = random_num - random_num % 2

                    if(random_num < 2 ){
                        random_num = 2
                    }

                    counter = 0

                    for(let imag of locals.imagini){ 
                        
                        if(counter < random_num && imag.anotimp && imag.anotimp.includes( anotimpuri[d.getMonth()] )){
                            counter = counter + 1
                        %>
                            <figure>
                                <img src="<%-imag.mediu %>" alt="Lipsa imagine" />
                                <figcaption>
                                    <%-counter %>
                                        <%-nrImagini %>
                                </figcaption>

                            </figure>
                            <%  }
                    } %>
                    </div>
                </div>




            </div>



            <div id="cont_iframe">
                <div id="cont_linkuri">
                    <a href="https://www.youtube.com/embed/J-6z93SqEO0" target="ifr">Alegearea microfonului</a>
                    <a href="https://www.youtube.com/embed/hJjcd5lZKrY" target="ifr">Alegerea interfetei</a>
                </div>
                <div id="cont_vid">
                    <iframe width="320" height="180" src="https://www.youtube.com/embed/J-6z93SqEO0" name="ifr"></iframe>
                </div>

            </div>






            <div id="gal_statica">
                <%- include("../fragmente/galerie_statica.ejs"); %>
            </div>





        </main>




        <%- include("../fragmente/footer.ejs");  %>



</body>


</html>