<!DOCTYPE html>
<html lang="ro">

<head>
    <meta name="description" content="Cofetaria Dulcelind ofera prajituri, torturi, produse de patiserie cu optiunea de achizitie online si livrare prin curier.">
    <meta name="keywords" content="cofetarie, Dulcelind, prajituri, torturi, dulce, pateuri, produse">

    <title>
        <%- locals.prod.nume %> - Fyresound
    </title>
    <%- include("../fragmente/head") %>
        <link href="/resurse/css/produs.css" type="text/css" rel="stylesheet" />
</head>

<body>
    <%- include("../fragmente/header") %>

        <main>
            <section id="prod">
                <h2>
                    <%- locals.prod.producator %>
                        <%- locals.prod.nume %>
                </h2>
                <div class="primary">
                    <figure class="imag-produs">
                        <img src="/resurse/imagini/produse/microfoane/<%-locals.prod.imagine%>" alt="[imagine <%- locals.prod.nume %>]" />
                    </figure>

                    <section class="descriere">
                        <h3>
                            <%- locals.prod.producator %>
                                <%- locals.prod.nume %>
                        </h3>
                        <p>
                            <%- locals.prod.descriere %>
                        </p>


                    </section>

                    <div class="cos">
                        <span class="pret"><%- locals.prod.pret %> lei</span>
                        <button class="button-74" role="button">Adauga in cos</button>
                    </div>

                </div>


                <article id="specificatii">
                    <p>
                        <%- locals.prod.descriere %>
                    </p>

                    <table id="specs">
                        <tbody>
                            <tr>
                                <td>Categorie:</td>
                                <td>
                                    <%- locals.prod.categorie %>
                                </td>

                            </tr>

                            <tr>
                                <td>Producator</td>
                                <td>
                                    <%- locals.prod.producator %>
                                </td>
                            </tr>
                            <tr>
                                <td>Tip</td>
                                <td>
                                    <%- locals.prod.tip %>
                                </td>
                            </tr>
                            <tr>
                                <td>Dimensiuni</td>
                                <td>
                                    <%- locals.prod.dimensiuni[0] %> x
                                        <%- locals.prod.dimensiuni[1] %> x
                                            <%- locals.prod.dimensiuni[2] %> cm
                                </td>
                            </tr>
                            <tr>
                                <td>An fabricatie</td>
                                <td>
                                    <%- locals.prod.an_fabricatie %>
                                </td>
                            </tr>
                            <tr>
                                <td>Include cablu</td>
                                <td>
                                    <%- locals.prod.incl_cablu %>
                                </td>
                            </tr>
                            <tr>
                                <td>Data adaugare</td>
                                <td>
                                    <%- locals.prod.data_adaugare %>
                                </td>
                            </tr>

                        </tbody>

                    </table>

                </article>

            </section>
        </main>

        <%- include("../fragmente/footer") %>
</body>

</html>